.Chat-main
  .Chat-main__group-info
    .leftbox
      .group-name
        = @group.name
      %ul.group-members
        Member：
        %li.group-menber
          - @group.users.each do |user|
            = user.name

    = link_to edit_group_path(@group), class: "edit-btn" do
      Edit

  .Chat-main__message-list
    = render @messages

  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Form__contents"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'input-box__icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'