.Side-bar
  .Side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to "#" do
          = icon('far', 'edit', class: "btn--icon")
        = link_to "edit_user_account" do
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: "btn--icon")

  .Side-bar__group-list
    .group-boxes
      .group-boxes__name
        group1
      .group-boxes__new-message
        新規メッセージ
    .group-boxes
      .group-boxes__name
        group1
      .group-boxes__new-message
        新規メッセージ
    .group-boxes
      .group-boxes__name
        group1
      .group-boxes__new-message
        新規メッセージ
    .group-boxes
      .group-boxes__name
        group1
      .group-boxes__new-message
        新規メッセージ
